<!doctype html>
<html lang="{{ lang | default('en') }}">
<head>
<meta charset="utf-8">
<title>{{ title }}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="{{ fonts }}" rel="stylesheet">
<link href="{{ a.css }}" rel="stylesheet">
